.section {
  overflow: hidden;
}

.content-placeholder {
  padding: 20px;
  transform-origin: top center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  height: 50px;
  margin-bottom: 20px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caretContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
