.container {
  display: flex;
  justify-content: left;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-bottom: 5vh;
  height: 55vh;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 5vw;
}

.arrow {
  height: 100%;
}

.card {
  /* margin-bottom: 5vh; */
}

.title {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 5px;
}

.header {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 5px;
}

.body {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 5px;
}

.location {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #656565;
}

.links {
  display: flex;
  justify-content: center;
}

.svg {
  margin: 10px;
}

.svg:hover {
  fill: rgb(208, 135, 16);
  cursor: pointer;
}
