.hero {
  mask-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(63, 63, 63, 0.5) 51.56%,
    #3f3f3f 100%
  );
}

@media screen and (min-width: 600px) {
  .hero {
    object-fit: cover;
    mask-image: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(63, 63, 63, 0.5) 51.56%,
      #3f3f3f 100%
    );
  }
}
