.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
}

.nav {
  display: flex;
  justify-content: center;
}

.containerGrey {
  width: 100vw;
  height: 100vh;
  background-color: #3f3f3f;
}

.containerWhite {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
