.backdrop {
  position: absolute;
  top: 100vh;
  /* top: 0; */
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000e1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.modal {
  width: 100%;
  height: 95vh;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-right: 5vw;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  margin-top: 1.5vh;
  margin-right: 1.5vh;
  z-index: 1;
}

.close:hover {
  stroke: white;
}

.image {
  width: 90vw;
  height: auto;
  margin-top: 0.5rem;
}

.link:hover .chevron,
.link:hover {
  color: #9e9e9e;
  stroke: #9e9e9e;
}
