.card {
  margin-bottom: 20px;
  margin-left: 60px;
  letter-spacing: 0.03em;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.description {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 5px;
}

.image {
  border-radius: 5px;
  width: 220px;
  height: 200px;
}
